###
# For more information: https://atom.io/docs/latest/creating-a-package#application-menu
###

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Makro'
      'submenu': [
        { 'label': 'Toggle main Makefile targets', 'command': 'makro:toggleMainMakefile' }
      ]
    ]
  }
]
