###
# For more information: https://atom.io/docs/latest/creating-a-package#context-menu
###

'context-menu':
  '.workspace':
    'Toggle main Makefile targets': 'makro:toggleMainMakefile'
    'Toggle Makefile search': 'makro:toggleMakefileSearch'
