###
# For more information: https://atom.io/docs/latest/creating-a-package#context-menu
###

'context-menu':
  'atom-workspace': [
    {
      'label': 'Toggle main Makefile targets'
      'command': 'makro:toggleMainMakefile'
    }
    {
      'label': 'Toggle Makefile search'
      'command': 'makro:toggleMakefileSearch'
    }
  ]
